{% extends "auctions/layout.html" %}
{% load static %}
{% load tz %}



{% block body %}

<div class="w3-container" style="display: grid; grid-template-rows: 15% 85%; width: 80%; height: 400px; margin:auto; min-width: 1540px;">
    <div class="listing-header" id="item-header">
        <div>
            <h1 class="item-name">{{item.name}} for sale from <a href="{% url 'profile' item.seller.id %}">{{item.seller.username}}</a>
        </div>
        <div>
            <span style="float: right;">{% if item.auctionStart >= now %}<h3>Going Live on {{item.auctionStart|localtime}}</h3>
            {% elif now > item.auctionEnd %}<h3>Auction Ended on {{item.auctionEnd|localtime}}</h3>
            {% else %}<div class="counter" id="item-counter" data-enddate="{{item.auctionEnd.isoformat}}"></div>{% endif %}</span></h1>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: 25% 50% 25%;">
        <div class="listing-image-box">
            <img class="listing-image" src="{{item.img.url}}" alt="You Fucked Up">
        </div>
        <div class="listing-description" id="item-description">
            <h4 class="description-text">{{item.description}}</h4>
        </div>
        <div class="listing-bid" id="item-bid">
            <div>
                <h2>Past Bids (The Competition):</h2>
            </div>
            <div>
                <ul style="list-style: none; line-height-step: 3px; margin-left: -5%;">
                    {% for bid in item.get_last_6 %}
                        <li id="item-past">£{{bid.bid}} From: {{bid.bidder.username}} on {{bid.bidPlaced|date:"d M Y G i"}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div style="position: relative;">
                {% if user.is_authenticated %}
                    {% if request.user == item.seller and item.is_active %}
                    <div class="bid-box-status">
                        <h3 class="bid">No bid rigging!</h3>
                        <form action="{% url 'close_item' item.id %}" method="post">
                            {%csrf_token%}
                            <button type="submit" class="watch-close-button">Close</button>
                        </form>
                    </div>
                    {% elif now > item.auctionEnd and request.user == item.highestBid.bidder %}
                    <div class="bid-box-status">
                        <h3>You are the winner {{item.highestBid.bidder}}</h3>
                    </div>
                    {% elif now > item.auctionEnd and request.user != item.highestBid.bidder %}
                        {% if item.highestBid == None %}
                        <div class="bid-box-status">
                            <h3>No Bids, No Winner!</h3>
                        </div>
                        {% else %}
                        <div class="bid-box-status">
                            <h4>Lot Closed: Winner {{item.highestBid.bidder}}</h4>
                        </div>
                        {% endif %}
                    {% elif not item.seller == request.user and item.is_active %}
                        {% if errorForm %}
                        <form action="{% url 'new_bid' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{item.id}}" name="id">
                            <input type="hidden" value="{{request.path}}" name="next">
                            <input type="hidden" value="index" name="page">
                            {{ errorForm }}
                            <input type="submit" value="Submit">
                        </form>
                        {% else %}
                        <form action="{% url 'new_bid' item.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{item.id}}" name="id">
                            <input type="hidden" value="{{request.path}}" name="next">
                            <input type="hidden" value="index" name="page">
                            {{ bidForm }}
                            <input type="submit" value="Submit">
                        </form>
                        {% endif %}
                        {% if user.profile and request.user.profile not in item.watching.all %}
                        <form action="{% url 'watch' item.id %}" method="post">
                            {%csrf_token%}
                            <input type="hidden" value="{{request.path}}" name="next">
                            <button class="watch-close-button" type="submit">Watch</button>
                        </form>
                        {% elif user.profile and request.user.profile in item.watching.all %}
                        <form action="{% url 'unwatch' item.id %}" method="post">
                            <input type="hidden" value="{{request.path}}" name="next">
                            {%csrf_token%}
                            <button class="watch-close-button" type="submit">Unwatch</button>
                        </form>
                        {% endif %}
                    {% endif %}
                {% else %}
                <h3>Please Log In To Bid</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="discussion-box">
    <div>
        <h1 class="discussion-title">Item Discussion</h1>
        <ul style="list-style: none;">
        {% for comment in item.itemComments.all %}
        <li>
            <div class="comment-box">
                <div style="padding-top: 3px;">
                    <img src="{{comment.commentter.profile.profile_pic.url}}" style="display: inline; clip-path: circle(); max-height: 100%; max-width: 100%;" alt="No Profile Pic">
                    <h5 style="display: inline;">{{comment.commentter.username}} left a review:</h5>
                </div>
                <div style="padding-left: 20px; padding-top: 15px;">
                    <div>
                        {{comment.comment}}
                    </div>
                </div>
            </div>
        </li>        
        {% endfor %}
        </ul>
    </div>
    <div>
        <div style="padding-top: 30px;">
            {% if request.user.profile == None %}
                <h2>Please Login to Comment</h2>
            {% else %}
                <h3 id="comment-prompt">Talk about {{item.name}} from Seller: {{item.seller.username}}</h3>
                <form action="{% url 'new_item_comment' item_id=item.id %}" method="post" style="width: 100%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;">
                    {%csrf_token%}
                    {{commentForm.as_p}}
                    <input type="submit">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}