{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/CSS/styles.css' %}" rel="stylesheet">
        <script src="{% static 'auctions/JS/auctions.js' %}"></script>  
    </head>
    <body>
        <div class="title-container">
            <div style="position: relative; margin-right: 10px;">
                <h1><strong><span class='title'><span id="g-blue">F</span><span id="g-red">r</span><span id="g-yellow">o</span><span id="g-green">o</span><span id="g-blue">g</span><span id="g-red">l</span><span id="g-yellow">e</span></strong></h1>
                <div class="tagline">{{tagline}}</div>
            </div>
            <div class="deets">
                <h1>Portfolio site for &#10145;&#65039;</h1>
                <div class="name">Jon Pillay</div>
                <div class="info-rows">
                    <div class="info-col">
                        <div>
                            <a href="mailto:jon.pillay@gmail.com">&#128231; email</a>
                        </div>
                        <div style="margin-top: -2px;">
                            <a href="https://jonpillay.github.io/portfolio/" target="_blank" rel="noopener noreferrer">&#9997; <div style="margin-top: -23px; margin-left: 29px;"> Portfolio</div></a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/jonpillay/" target="_blank" rel="noopener noreferrer"><img class="header-icon" id="lnkin-icon"  src="{% static 'auctions/images/LI-In-Bug.png' %}" alt="missing"></a>
                        </div>
                    </div>
                    <div class="info-col">
                        <div>
                            <a href="{% static 'auctions/downloads/Pillay_J_CV.pdf' %}" target="_blank" rel="noopener noreferrer"><img class="header-icon" id="pdf-icon" src="{% static 'auctions/images/PDF_file_.png' %}">CV</a>
                        </div>
                        <div>
                            <a href="https://github.com/jonpillay" target="_blank" rel="noopener noreferrer"><img class="header-icon" id="github-icon" src="{% static 'auctions/images/GitHub_Logo.png' %}" alt="Nope"></a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/jonpillay/" target="_blank" rel="noopener noreferrer"><img class="header-icon" id="insta-icon" src="{% static 'auctions/images/insta_logo.png' %}" alt="Nope"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-font">
            <div>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_index' %}">Browse Categories</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_listing' %}">New Listing</a>
                    </li>
                    {% if user.profile %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'watching' %}">Watching</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_profile' user.id %}">Create Profile</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                <li class="mx-auto order-0" id="header-search">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        {{searchform}}
                    </form>
                </li>
            </ul>
        </div>
        <hr style="margin-top: 5px;">
        {% block body %}
        {% endblock %}
    </body>
</html>
