{% extends "auctions/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}
<div class="profile-box">
    <div style="display: grid; grid-template-columns: 20% 80%; padding-bottom: 20px;">
        <div style="max-height: 500px; max-width: 500px;">
            <img src="{{profile.profile_pic.url}}" style="clip-path: circle(); max-height: 100%; max-width: 100%;" alt="No Profile Pic">
        </div>
        <div class="profile-info">
            <div>
                <div id="profile-name">{{profile.first}} {{profile.lasts}}</div>
                <br>
                <h5>Bidding history and completed sales (to be implemented)</h5>
            </div>
            <div>
                <h2 id="profile-about-me">About Me!</h2>
                <h4 style="margin: 20px;">{{profile.description}}</h4>
            </div>
        </div>
    </div>
<div style="width: 80%; min-width: 1500px; margin: auto;">
    <h1 class="page-title" id="profile-items-title">{{profile.first}}'s Listings</h1>
    <ul style="list-style-type: none; padding: 0px;">
        {% for item in profile.owner.saleItems.all %}
        <li>
            <div class="index-listing">
                <div class="listing-image-box">
                    <img class="listing-image" src="{{item.img.url}}" alt="You Fucked Up">
                </div>
                <div class="info-box">
                    <div class="listing-header-small">
                        <div>
                            <h3 class="for-sale">For Sale: <a href="{% url 'item' item.id %}">{{item.name}}</a></h3>
                        </div>   
                        <div>
                            <h4 id="head-cat-index">Category: <a href="{% url 'category' item.category.id %}">{{item.category}}</a></h4>
                        </div>
                        <div style="font-size: 6px; margin-left: auto; padding-left: -3%;">
                            {% if item.going_live %}<h5>Going Live {{item.auctionStart|localtime}}</h5>
                            {% elif item.has_ended %}<h5>Ended on {{item.auctionEnd|localtime}}</h5>
                            {% else %}<div class="counter" id="small-status" data-enddate="{{item.auctionEnd.isoformat}}"></div>{% endif %}    
                        </div>
                    </div>
                    <div class="listing-description">
                        <h5>{{item.description}}</h5>
                    </div>
                    <div class="listing-status">
                        <div>
                            <h3 class="cur-win">{% if item.highestBid %} Current Winner: {{item.highestBid.bidder.username}} with <span class="price-win">£{{item.highestBid.bid }}</span> {% else %}Starting Bid {{item.startingBid}} {% endif %}</h3>
                        </div>
                        <div>
                            <h4 id="index-seller">Seller: <a href="{% url 'profile' item.seller.id %}"> {{item.seller.username}}</a></h4>
                        </div>
                    </div>
                </div>
                <div class="listing-bid">
                    <div>
                        <h3>Past Bids (The Competition):</h3>
                    </div>
                    <div class="bid-history">
                        {% if item.is_active %}
                        <ul style="list-style: none; margin-left: -5%;">
                            {% for bid in item.get_last_6 %}
                                <li><h6>£{{bid.bid}} From: {{bid.bidder.username}} on {{bid.bidPlaced|date:"d M Y G i"}}</h6></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            {% if request.user == item.seller and item.is_active %}
                                <div class="no-bid-box">
                                    <div>
                                        <h3 class="rig-warn">No bid rigging!</h3>
                                    </div>
                                    <div>
                                        <form action="{% url 'close_item' item.id %}" method="post">
                                            {%csrf_token%}
                                            <button style="margin-top: 19px;" type="submit">Close</button>
                                        </form>
                                    </div>
                                </div>
                            {% elif now > item.auctionEnd and request.user == item.highestBid.bidder %}
                                <h3>You are the winner {{item.highestBid.bidder}}</h3>
                            {% elif now > item.auctionEnd and request.user != item.highestBid.bidder %}
                                <h3>Lot Closed: Winner {{item.highestBid.bidder}}</h3>
                            {% elif not item.seller == request.user and item.is_active %}
                                <div class="bid-box">
                                {% if item.id == errorID %}
                                <div>
                                    <form action="{% url 'new_bid' item.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{item.id}}" name="id">
                                        <input type="hidden" value="{{request.path}}" name="next">
                                        <input type="hidden" value="index" name="page">
                                        {{ errorForm }}
                                        <input type="submit" value="Submit">
                                    </form>
                                </div>
                                {% else %}
                                <div>
                                    <form class="index-bid" action="{% url 'new_bid' item.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{item.id}}" name="id">
                                        <input type="hidden" value="{{request.path}}" name="next">
                                        <input type="hidden" value="index" name="page">
                                        {{ bidForm }}
                                        <input type="submit" value="Submit">
                                    </form>
                                </div>
                                {% if user.profile and request.user.profile not in item.watching.all %}
                                <div>
                                    <form action="{% url 'watch' item.id %}" method="post">
                                        {%csrf_token%}
                                        <input type="hidden" value="{{request.path}}" name="next">
                                        <div>
                                            <button style="margin-top: 25px;" type="submit">Watch</button>
                                        </div>
                                    </form>
                                </div>
                                {% elif user.profile and request.user.profile in item.watching.all %}
                                <div>
                                    <form action="{% url 'unwatch' item.id %}" method="post">
                                        {%csrf_token%}
                                        <input type="hidden" value="{{request.path}}" name="next">
                                        <button style="margin-top: 25px;" type="submit">Unwatch</button>
                                    </form>
                                </div>
                                {% endif %}
                                </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                        <h3>Please Log In To Bid</h3>
                        {% endif %}
                    </div>
                </div>
            </div>    
        </li>
        {% endfor %}
    </ul>
</div>
<div class="discussion-box">
    <div>
        <h1 class="discussion-title">Seller Reviews</h1>
        <ul style="list-style: none;">
        {% for comment in profile.profileComments.all %}
        <li>
            <div class="comment-box">
                <div style="padding-top: 3px;">
                    <img src="{{comment.commentter.profile.profile_pic.url}}" style="display: inline; clip-path: circle(); max-height: 100%; max-width: 100%;" alt="No Profile Pic">
                    <h5 style="display: inline;">{{comment.commentter.username}} left a review:</h5>
                </div>
                <div style="padding-left: 20px; padding-top: 15px;">
                    <div>
                        {{comment.comment}}
                    </div>
                </div>
            </div>
        </li>        
        {% endfor %}
        </ul>
    </div>
    <div>
        <div style="padding-top: 30px;">
            <h3>Leave Review for {{profile.first}} {{profile.lasts}}</h3>
            <form action="{% url 'new_profile_comment' profile_id=profile.id %}" method="post" style="width: 100%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;">
                {%csrf_token%}
                {{commentForm.as_p}}
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}