{% extends "auctions/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}
    <div class="w3-container" style="max-width: 1500px; min-width: 1500px;">
    <h2 class="page-title">Watching</h2>
    {% if message %}
        <h3 style="display: inline; float: right; margin-right: 10%;">{{ message }}!!!</h3>
    {% endif %}
    <ul style="list-style: none; margin-left: -1%;">
    {% for item in watchlist %}
    <li>
        <div class="index-listing">
            <div class="listing-image-box">
                <img class="listing-image" src="{{item.img.url}}" alt="You Fucked Up">
            </div>
            <div class="info-box">
                <div class="listing-header-small">
                    <div>
                        <h3 class="for-sale">For Sale: <a href="{% url 'item' item.id %}">{{item.name}}</a></h3>
                    </div>   
                    <div>
                        <h4 id="head-cat-index">Category: <a href="{% url 'category' item.category.id %}">{{item.category}}</a></h4>
                    </div>
                    <div style="margin-left: auto; padding-left: -3%;">
                        <a>
                            {% if item.going_live %}<h3 id="small-status">Going Live on {{item.auctionStart|localtime}}</h3>
                            {% elif item.has_ended %}<h3 id="small-status">Auction Ended on {{item.auctionEnd|localtime}}</h3>
                            {% else %}<div class="counter" id="small-status" data-enddate="{{item.auctionEnd.isoformat}}"></div>{% endif %}
                        </a>      
                    </div>
                </div>
                <div class="listing-description">
                    <h5>{{item.description}}</h5>
                </div>
                <div class="listing-status">
                    <div>
                        <h3 class="cur-win">{% if item.highestBid %} Current Winner: {{item.highestBid.bidder.username}} with <span class="price-win">£{{item.highestBid.bid }}</span> {% else %}Starting Bid {{item.startingBid}} {% endif %}</h3>
                    </div>
                    <div>
                        <h4 id="index-seller">Seller: <a href="{% url 'profile' item.seller.id %}"> {{item.seller.username}}</a></h4>
                    </div>
                </div>
            </div>
            <div class="listing-bid">
                <div>
                    <h3>Past Bids (The Competition):</h3>
                </div>
                <div class="bid-history">
                    {% if item.is_active %}
                    <ul style="list-style: none; margin-left: -5%;">
                        {% for bid in item.get_last_6 %}
                            <li><h6>£{{bid.bid}} From: {{bid.bidder.username}} on {{bid.bidPlaced|date:"d M Y G i"}}</h6></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                        {% if request.user == item.seller and item.is_active %}
                            <div class="no-bid-box">
                                <div>
                                    <h3 class="rig-warn">No bid rigging!</h3>
                                </div>
                                <div>
                                    <form action="{% url 'close_item' item.id %}" method="post">
                                        {%csrf_token%}
                                        <button style="margin-top: 19px;" type="submit">Close Item</button>
                                    </form>
                                </div>
                            </div>
                        {% elif now > item.auctionEnd and request.user == item.highestBid.bidder %}
                            <h3>You are the winner {{item.highestBid.bidder}}</h3>
                        {% elif now > item.auctionEnd and request.user != item.highestBid.bidder %}
                            <h3>Lot Closed: Winner {{item.highestBid.bidder}}</h3>
                        {% elif not item.seller == request.user and item.is_active %}
                            <div class="bid-box">
                            {% if item.id == errorID %}
                            <div>
                                <form action="{% url 'new_bid' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.id}}" name="id">
                                    <input type="hidden" value="{{request.path}}" name="next">
                                    <input type="hidden" value="index" name="page">
                                    {{ errorForm }}
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                            {% else %}
                            <div>
                                <form class="index-bid" action="{% url 'new_bid' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.id}}" name="id">
                                    <input type="hidden" value="{{request.path}}" name="next">
                                    <input type="hidden" value="index" name="page">
                                    {{ bidForm }}
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                            {% if user.profile and request.user.profile not in item.watching.all %}
                            <div>
                                <form action="{% url 'watch' item.id %}" method="post">
                                    {%csrf_token%}
                                    <input type="hidden" value="{{request.path}}" name="next">
                                    <button class="watch-button" type="submit">Watch</button>
                                </form>
                            </div>
                            {% elif user.profile and request.user.profile in item.watching.all %}
                            <div>
                                <form action="{% url 'unwatch' item.id %}" method="post">
                                    {%csrf_token%}
                                    <input type="hidden" value="{{request.path}}" name="next">
                                    <button class="watch-button" type="submit">Unwatch</button>
                                </form>
                            </div>
                            {% endif %}
                            </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <h3>Please Log In To Bid</h3>
                    {% endif %}
                </div>
            </div>
        </div>    
    </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}